.main {
  padding: 20px;
  border-radius: 5px;
  border: #000000 2px solid;
  margin-bottom: 48px;
}

.main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.main header button {
  width: 30px;
  border-radius: 5px;
  border: 1px solid gold;
  background: gold;
  padding: 5px;
  cursor: pointer;
}

.main header button:hover {
  opacity: 0.5;
  border-color: black;
}

.logo {
  font: 600 22px/1 Roboto, Arial, Helvetica, sans-serif;
}

.block-metal-profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-metal-profile-img h3 {
  font: 600 20px/1 Roboto, Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.metal-profile-img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.metal-profile-img img {
  width: 250px;
}

.details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-container .inputValue {
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 2px solid #000000;
  font: 500 16px/1 Roboto, Arial, Helvetica, sans-serif;
}

.details-container .inputValue:hover {
  border: 2px solid gold;
}

.details-container .inputValue:focus {
  border: 2px solid darkorange;
}

.details-container p {
  font: 600 18px/1 Roboto, Arial, Helvetica, sans-serif;
  color: black;
}
