.selects-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.selects-block select {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  font: 500 16px/1 SansSerif sans-serif;
}

.selects-block select:hover {
  border: 2px solid gold;
}

.selects-block select:focus {
  border: 2px solid darkorange;
}